
body {
    background: url("../images/tile.png");
    background-repeat: repeat-x repeat-y;
    background-attachment: fixed;
    background-position: top top;
    background-color: black;
    height: 100%;
}

#bodytext {
    font-family: 'Open Sans', sans-serif;
    line-height: 200%;
}

.close {
    color: white;
}

.fairy {
    padding-top: 20px;
    padding-left: 20px;
}

.fill {
    background-color: black;
    color: white;    
    border-radius: 4px;
    top: 0;
    bottom: 0;
}

.fireleft, .fireright{
	background: url("../images/fire.png") no-repeat;
}

.fireleft{
	background-position: 0 0;
	width: 60px;
	height: 60px;
}

.fireright{
	background-position: -63px 0;
	width: 60px;
	height: 60px;
}

#firstrow {
    margin-top: 60px;
}

#footer {
    height: 100px;
    background: black;
    width: 30%;
}
#headertext {
    font-family: 'Press Start 2P', cursive;
    font-size: 18px;
    line-height: 200%;
}

.img-position {
    margin-left: 5%;
    margin-right: 5%;
}

.instructions {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
}

#lastrow {
    padding-top: 0px;
    border-radius: 0px;
    padding-bottom: 0px;

}

.link {
    padding-left: 17.5%;
}

.modal-body {
    background-color: #333333;
    color: white;
    font-family: 'Open Sans', sans-serif;
}

.modal-footer {
    background-color: #333333;
    color: white;
    font-family: 'Open Sans', sans-serif;
    border-top: 1px solid #333333;
}

.modal-header {
    background-color: #191919;
    color: white;
    font-family: 'Press Start 2P', cursive;
    font-size: 16px;
    border-bottom: 1px solid #333333;
}

.panel-content  {
    color: white;
    font-size: 16px;
    text-align: left;
    padding: 15px 30px 15px 30px;
}

.panel {
    background-color: #333333;
    margin-bottom: 30px;
}

.panel-heading {
    background-color: #191919;
    font-size: 18px;
}

.row {
    padding-top: 15px;
    padding-bottom: 15px;
}

.rupee:hover {
    cursor: pointer;
}

.rupee-thumb {
    margin: 5px;
    width: 10px;
    height: auto;
}

#targetScore {
    display: inline;
}

#wrap {
    min-height: 100%;
    height: 100%;
    /* Negative indent footer by its height */
    margin: 0 auto -100px;
    /* Pad bottom by footer height */
    padding: 0 0 100px;
}